/*
 * Toggle
 */
.jdat-toggle .jdat-toggle-bg {
	height: 19px;
	width: 80px;
	margin-top: 4px;
	background-color: #464747;
	position: relative;
	cursor: pointer;
}

.jdat-toggle .jdat-toggle-fg {
	height: 19px;
	width: 40px;
	background-color: #666666;
	position: absolute;
	text-align: center;
	line-height: 19px;
	left: 0;

  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.jdat-toggle .jdat-toggle-on {
	background-color: #0E88B1;
	left: 40px;
}
