/*
 * ComboBox
 */
.jdat-combobox .jdat-field-container {
	border-left: 3px solid #ffd300;
}

.jdat-combobox select {
	margin-top: 4px;
	border 0;
  max-width: 100%;
  min-width: 50%;
	cursor: pointer;
	height: 18px;
	padding: 0;
}
